body{
    background-image: url('../header/bookstore1.png');
    background-size: cover;
    background-position-y: -100px;
}
*{
    margin: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    background-color: rgb(20, 1, 1);
}
#main-menu{
    display: flex;
    list-style: none;
    margin-left: 50px;
    padding: 0;
    justify-content: center;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    font-size: large;
}

#main-menu ul.sub-menu{
    position: absolute;
    background-color: rgb(41, 36, 36);
    padding: 15px 0px;
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #fffcfc;
    display: none;
}

#main-menu li:hover>ul.sub-menu{
    display: block;
}

#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #fffcfc;
    left: 0;
}

#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #242121;
}

#main-menu ul.sub-menu li:last-child a{
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu{
    left: 151px;
    top: -15px
}


#logo{
    padding: 5px 0px;
}
#logo img{
    max-width: 100px;
    height: auto;
    margin-left: 40%;
}
.search-box{    
    background: #f8f8f8f8;
    height: 45px;
    border-radius: 40px;
    padding: 10px;
    margin-left: 3%;
}
.search-btn{
    float: right;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: rgb(175, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(3, 7, 10);
    font-size: 14px;
    transition: 0,4s;
    line-height: 35px;
    width: 450px;
}

.fa-comment{
    font-size: 30px;
    color: white;
    margin-left: 200%;
}
.list-button{
    margin-left: 8%;
}
.button{
    display: inline-block;
    padding: 8px 16px;
    background-color: aliceblue;
    text-decoration: none;

}
.button.Login{
    border: 1px groove  #100f0f;
}
.button.Login:hover{
    background-color: #b1a2a2f8;
}
.button.Register{
    border: 1px groove  #100f0f;
}
.button.Register:hover{
    background-color: #b1a2a2f8;
}